<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [ngClass]="{ hidden: !(isHandset$ | async) }"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Web</a>
      <a mat-list-item href="#">Sistemas</a>
      <a mat-list-item href="#">Cloud</a>
      <a mat-list-item href="#">Consultoria</a>
      <a mat-list-item href="#">Contacto</a>
      <a mat-list-item href="#">Clientes</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="/assets/img/logo1.png" /></span>
      <span class="spacer"></span>
      <a href="#" class="navButton" *ngIf="!(isHandset$ | async)">
        <p>Web</p>
      </a>
      <a href="#" class="navButton" *ngIf="!(isHandset$ | async)"
        ><p>Sistemas</p></a
      >
      <a href="#" class="navButton" *ngIf="!(isHandset$ | async)"
        ><p>Cloud</p></a
      >
      <a href="#" class="navButton" *ngIf="!(isHandset$ | async)"
        ><p>Consultoria</p></a
      >
      <a href="#" class="navButton" *ngIf="!(isHandset$ | async)"
        ><p>Contacto</p></a
      >
      <a href="#" class="navButton" *ngIf="!(isHandset$ | async)"
        ><p>Clientes</p></a
      >
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
